.deploy {
    padding-top: 2%;
}

.inputPaddingTop {
    padding-top: 2%;
}

.deployButton {
    padding-top: 4%;
}

.newOwner {
    padding-top: 1%;
}

.ownersInfo {
    padding-top: 0.5%;
    padding-left: 1%;
    display: flex !important;
}

.outOfOwnersInfo {
    padding-top: 0.5%;
    padding-left: 1%;
}

.numberInput {
    width: 60px !important;
}

.ownerList {
    padding-top: 1%;
    width: 50%
}

.owners {
    padding-top: 1%;
}

.iconAdd {
    color: #F4DF4EFF
}

.iconAdd:hover {
    color: white
}

.iconDelete {
    color: #202020;
}

.iconDelete:hover {
    color: #696969;
}

.btn-outline-dark {
    background-color: white !important;
    color: black !important;
}

.btn-outline-dark:hover, .btn-outline-dark:active, .btn-outline-dark:visited {
    background-color: #D3D3D3 !important;
    color: black !important;
}

.confirmations {
    padding-top: 1%;
}