.manage {
    margin-top: 2%;
}

.findDaoByAddress {
    font-size: 150%;
    margin-top: 6%;
}

.findDaoInput {
    margin-top: 4%
}

.findDaoFromList {
    margin-top: 4%;

    font-size: 125%;
    display: flex;
    justify-content: center;
    align-items: center;

}