.proposalIcon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.xProposalIcon {
    color: white
}

.manageProposalWidth {
    max-width: 450px;
}

.proposalInfo {
    padding-bottom: 2%
}

.proposalInfoValues {
    color: white
}