.manageDetails {
    margin-top: 1%;
}

.leftTab {
    border-style: solid;
    border-width: 1px;
    border-color: white;
    border-radius: 3px !important;
}

.nav-pills>div>a {
    border-radius: 3px !important;
}

.bigManageSection {
    padding-top: 1%;
}

.manageSection {
    padding-top: 2%;
}

.createProposalButton {
    padding-top: 4%;
    padding-bottom: 4%;
}

.createNewProposalButton {
    padding-bottom: 4%;
}