.tabComponent {
    margin: auto;
    display: block;
    width: 80%;
    /*//TODO: fix deploy */
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 200%;
    padding-top: 2%;
    padding-bottom: 2%;
}

/*active*/
.nav-link.active {
    background-color: #505050 !important;
    color: white !important;
}

/*not active*/
.nav-link {
    background-color: #D3D3D3 !important;
    color: black !important;
}

/*hoover*/
.nav-link:hover{
    background-color: #B8B8B8 !important;
    color: white
}

.nav-link.active:hover {
    background-color: #404040 !important;
    color: white !important;
}